<p>This is the register page</p>
<form action="/register" method="POST">
    User id <br>
    <input type="text" name="username"><br>
    Password
    <input type="password" name="password" >
    <input type="submit" value="Submit">
</form>

