<p>Inside Trans.ejs</p>
<form action="/transaction" method="post">
    Payer:<br>
    <input type="text" name="payer"><br>
    Payee:<br>
    <input type="text" name="payee"><br>
    Amount: <br>
    <input type="text" name="Amount"><br>
    <input type="submit" value="Submit">
  </form>
  